*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
  
}

header {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background:transparent;
    /* background-color: rgb(41, 7, 120);  */
    
}


nav {
  margin-left: auto;
}

nav a{
    text-decoration: none;
    color: rgb(196, 182, 182);
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 18px;
    
}



nav a:hover{
    color: rgb(255, 255, 255);
    
}

.logo a{
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    /* margin-left: 80px; */
}

.btn1{
 background: linear-gradient(135deg,#0000ff, #0072ff);
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 120px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 198, 255, 0.6);
    /* margin-right: 80px; */
}




.hero{
    background-image: url('images/michael-1Ki66S0JSGM-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(10, 10, 10, 0.881);
    height: 100vh;
    padding-top: 150px;
}

span{
   background: linear-gradient(90deg, #1e6be7, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}


.hero-content{
     max-width: 650px;
     color: #fff;
     text-shadow: black;
     
}

.hero-content h1{
    font-size: 39px;
    margin-bottom: 20px;
}

.search{
    margin-top: 30px;
    
}

input[type="text"]{
    padding: 15px;
    width: 450px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.btn2{
background: linear-gradient(135deg, #0000ff, #044697);
color: #fff;
border: none;
border-radius: 10px;
width: 100px;
padding: 17px;
/* box-shadow: 0 0 10px rgba(0, 198, 255, 0.6); */
padding-left: 10px;
transition: 0.3s ease;
}

.btn2:hover {
  background: linear-gradient(135deg, #0b329d, #02bbef);
  transform: translateY(-2px);
}

.search .container {
  gap: 10px;
}



table, th, td{
    /* border: 2px solid rgb(238, 238, 238); */
    border-collapse: collapse;
    margin-top: 30px;
}

td{
    padding: 25px;
    color: rgb(182, 173, 173);
}

#color1{
    color: white;
    font-weight: 600;
    font-size: 28px;

}

/* icons and text */
.icon1{
    /* display: flex;
    justify-content: space-between;
    gap: 40px;    */
    padding: 50px;
   
}

.icon1 .container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 40px;

}

.logistics{
  font-size: 28px;
  color: #1d2ba5;
  margin-bottom: 5px;
}

.text h4 {
  font-size: 22px;
  color: #0a1686;
  margin-bottom: 12px;
}

.text p {
  font-size: 15px;
  color: #444;
  margin-bottom: 10px;
}

.text a {
  color: #1a1a1a;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
}


