*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
  
}

header {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    transition: background 0.3s ease;
   
    
}


nav {
  margin-left: auto;
}

nav a{
    text-decoration: none;
    color: rgb(196, 182, 182);
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 18px;
    
}



nav a:hover{
    color: rgb(255, 255, 255);
    
}

.logo a{
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    /* margin-left: 80px; */
}

.btn1{
  background: linear-gradient(135deg, #f59e0b, #ef4444);
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
    /* margin-right: 80px; */
}




.hero{
    background-image: url('images/adhitya-sibikumar-jQfqdZCwruE-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(95, 95, 97, 0.811);
    height: 100vh;
    padding-top: 150px;
    
    


}

span{
  background: linear-gradient(135deg,  #f97316, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.hero-content{
     max-width: 650px;
     color: #fff;
     text-shadow: black;
}

.hero-content h1{
    font-size: 39px;
    margin-bottom: 20px;
}